version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./src:/app/src  # Syncs your local code changes to the container instantly

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true # Fixes hot-reload issues on WSL
    stdin_open: true # Needed for React to exit correctly
    tty: true
    depends_on:
      - backend